body > section, footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

    body > section:nth-child(odd) {
        background-color: #474747;
    }

#hero {
    background-color: #6A9A3C;
}

.button {
    background-color: #80C44F;
    border-radius: 4px;
    border: 2px solid #ecf0f1;
    display: block;
}

    .button:hover {
        background-color: #6A9A3C;
    }

.top-bar-section ul li > a.button {
    background-color: #80C44F;
    border: #6A9A3C;
}

    .top-bar-section ul li > a.button:hover {
        background-color: #6A9A3C;
    }

.panel.twitter {
    background-color: #31CBF2;
}

.twitter h4 {
    color: #ecf0f1;
}

.twitter ul {
    margin-left: 0;
}

.twitter li {
    background-color: #ecf0f1;
    padding: 5px;
    margin-bottom: 5px;
    list-style-type: none;
    border-radius: 4px;
}

footer {
    background-color: #2D2D2F;
}

    footer h4 {
        color: #ecf0f1;
    }